.title{
    text-align: center;
    font: Bold 50px/54px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    text-align: center;
    margin-top: -58px;
    margin-bottom:10px;
}

.container .tabs{
    text-align: left;
}
.tabs{
    margin-top:18px;
}
.tabs .header{
    text-align: center;
}
.tabs .header span{
    text-align: left;
    font: Bold 30px/37px Montserrat;
    letter-spacing: 0;
    color: white;
    opacity: 1;
    margin-right:50px;
}
.tabs .header span:last-of-type{
    margin-right: 0px;
}
.tabs .header .active{
    color: #FAB535;
}

.tabs .content{
    font: 600 30px/37px Montserrat;
    letter-spacing: 0;
    color: #FAB535;
    opacity: 1;
    width: 400px;
    margin:0 auto;
    margin-top:120px;
}
.tabs .content .account >div{
    margin-top:30px;
}
.tabs .content .account .smallfont{
    margin-top:10px;
}
.tabs .content .smallfont{
    font: 400 20px/24px Montserrat;
    color:white;
    margin-top:10px;
}
.tabs .content .account input{
    padding:12px 162px 12px 10px;
    font: 300 Italic 18px/22px Montserrat;
    border-radius: 2px;
    margin-top:10px;
    background: transparent;
}
.tabs .content .account .button_submit{
    text-align: left;
    font: 600 20px/24px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    padding:8px 38px;
    margin-top:10px;
    float:right;
    background: #FAB535 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.tabs .content .billing .price{
    text-align: left;
    font: SemiBold 40px/49px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-top:30px;
}
.tabs .content .billing .pay_btns{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabs .content .billing .pay_btns .btn{
    padding:8px 30px;
    color:white;
    border-radius: 2px;
}
.tabs .content .billing .pay_btns .pay_now_btn{
    background: #FAB535 0% 0% no-repeat padding-box;
}
.tabs .content .billing .pay_btns .past_due_btn{
    background: #EA0000 0% 0% no-repeat padding-box;
}

.tabs .content .billing .pay_invocie{
    margin-top:20px;
}
.tabs .content .billing .pay_invocie:first-of-type{
    margin-top:30px;
}
.tabs .content .billing .pay_invocie span{
    font: 400 20px/24px Montserrat;
    color:white;
    margin-right:30px;
}
.tabs .content .billing .pay_invocie span:last-of-type{
    margin-right:0px;
}
.tabs .header > span{
    cursor: pointer;
}
.tabs .content > div{
    display: none;
}
.tabs .content .active{
    display: block;
}