.login_form{
    display: inline-block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding:42px 50px;
    margin-top:150px;
}
.login_form input[type="text"], .login_form input[type="password"]{
    text-align: left;
    font: 400 18px/22px Montserrat;
    letter-spacing: 0;
    color: #5B5656;
    opacity: 1;
    display: block;
    padding:19px 0px 19px 24px;
    width: 376px;
    border-radius: 2px;
    opacity: 1;
    margin-top:20px;
    border: 1px solid #010203;
}
.login_form input:first-of-type{
    margin-top:0px;
}

.login_form .btn_login{
    text-align: center;
    font: 600 20px/24px Montserrat;
    letter-spacing: 0;
    color: #E8EFF7;
    text-transform: uppercase;
    background: #FAB535 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    padding-top:18px;
    padding-bottom: 18px;
    width:100%;
    margin-top: 20px;
    cursor: pointer;
}
.login_form .forgot_pass{
    text-align: right;
    font: 600 10px/13px Montserrat;
    letter-spacing: 0;
    color: #010203;
    opacity: 1;
    margin-top: 5px;
}
.login_form .term_condition{
    text-align: left;
    margin-top:12px;
    display: flex;
    align-items: center;
}
.login_form .term_condition input{
    width:16px;
    height:16px;
    margin-right:22px;
    display: block;
}
.login_form .term_condition span{
    text-align: left;
    font: 400 16px/19px Montserrat;
    letter-spacing: 0;
    color: #010203;
    opacity: 1;
    margin-top:-3px;
}