.signup-title{
    text-align: center;
    font: Bold 50px/54px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    text-align: center;
    margin-top: -80px;
    margin-bottom:10px;
}

.container .tabs{
    text-align: left;
}
.tabs{
    margin-top: 0;
}
.signup-header{
    text-align: center;
}
.tabs .signup-header span{
    text-align: left;
    font: 30px/54px Montserrat;
    font-weight: 500;
    letter-spacing: 0;
    color: white;
    opacity: 1;
    margin-right:50px;
}
.tabs .signup-header span:last-of-type{
    margin-right: 0px;
}
.tabs .signup-header .active{
    color: #FAB535;
}

.tabs .signup-content {
    font: 500 30px/37px Montserrat;
    letter-spacing: 0;
    color: #FAB535;
    opacity: 1;
    width: 400px;
    margin:0 auto;
    margin-top: 53px;
}
.tabs .content .smallfont{
    font: 400 20px/24px Montserrat;
    color:white;
    margin-top:10px;
}
.tabs .signup-content .account input{
    padding:12px 162px 12px 10px;
    font: 300 Italic 18px/22px Montserrat;
    border-radius: 2px;
    color: white;
    margin-top:10px;
    background: transparent;
}
.tabs .signup-content .account .mt {
    margin-top: 30px;
}
.tabs .signup-content .account .button_submit{
    text-align: left;
    font: 600 20px/24px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    padding:8px 38px;
    margin-top:30px;
    margin-bottom: 150px;
    float:right;
    background: #FAB535 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}
